<div class="header" >
    <!--Content before waves-->
    <div class="inner-header flex" >
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 10 28" preserveAspectRatio="none" shape-rendering="auto">
        <!--Just the logo.. Don't mind this-->
            <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
            
            <g><path fill="#fff"
            d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
            C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
            c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
            </g>
        </svg>
    </div>
    
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="text-center">                
            <h4 class="mt-1 mb-5 pb-1">Usuarios</h4>

            <!-- Contenido -->
            <hr>
        <input type="button" value="Insertar usuario" class="btn btn-warning" (click)="mostrar_form('ver')">

        
            <hr>
             <!-- formulario -->
            <div id="formulario" *ngIf="mform==true">
               
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="obj_usuario.nombre" >
                            <span style="color: red;" *ngIf="validar_nombre== false">Debe ingresar un nombre</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Cedula" [(ngModel)]="obj_usuario.cedula" >
                            <span style="color: red;" *ngIf="validar_cedula== false">Debe ingresar una cedula</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="obj_usuario.telefono" >
                            <span style="color: red;" *ngIf="validar_telefono== false">Debe ingresar un telefono</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="obj_usuario.direccion" >
                            <span style="color: red;" *ngIf="validar_direccion== false">Debe ingresar una dirección</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="obj_usuario.correo" >
                            <span style="color: red;" *ngIf="validar_correo== false">Debe ingresar un correo</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Password" [(ngModel)]="obj_usuario.password" >
                            <span style="color: red;" *ngIf="validar_password== false">Insertar Debe ingresar una contraseña</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <select class="form-control form-select" [(ngModel)]="obj_usuario.foidrol">
                                <option value="0" label="Seleccionar rol" selected="selected"> Seleccionar rol</option>
                                <option *ngFor="let itemc of rol" value="{{itemc.id_rol}}">{{itemc.nombre_rol}}</option>
                            </select>
                            <span style="color: red;" *ngIf="validar_foidrol== false">Debe seleccionar un rol</span>
                        </div>
                        <div class="col-lg-4">
                            <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('guardar')" *ngIf="botones_form==false">
                            <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" *ngIf="botones_form==true" (click)="validar('editar')">
                        </div>
                        <div class="col-lg-4">
                            <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%" (click)="mostrar_form('No ver')">
                        </div>
                    </div>
                
            </div>
            <!-- fin formulario -->

            <!-- Tabla de consulta -->
            <div id="tabla">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="table-responsive">
                            <table class="table" >
                                <tr>
                                    
                                    <th>Nombre</th>
                                    <th>Cedula</th>
                                    <th>Telefono</th>
                                    <th>Direccion</th>
                                    <th>Correo</th>
                                    <th>Password</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                                <tr *ngFor="let item of usuario">
                                    
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.cedula}}</td>
                                    <td>{{item.telefono}}</td>
                                    <td>{{item.direccion}}</td>
                                    <td>{{item.correo}}</td>
                                    <td>{{item.password}}</td>
                                    <td>{{item.rol}}</td>
                                    <td>
                                        <span class="fas fa-edit" style="color: blue; cursor: pointer;" title="Editar" (click)="cargar_datos(item,item.id_usuario)"></span>
                                        <span class="fas fa-minus-square" style="color:red; cursor: pointer;" title="Eliminar" (click)="eliminar(item.id_usuario)"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>   
            </div>
            <!-- Fin tabla consulta -->

        </div>
        
    </div>
</section>
